[submodule "openthread"]
	path = openthread
	url = https://github.com/ubieda/openthread.git
	branch = ubieda-dev	
[submodule "third_party/silabs/sdk_support"]
	path = third_party/silabs/sdk_support
	url = https://github.com/SiliconLabs/sdk_support.git
